@page
@model StudentIncidents1.Pages.Incidents.IndexModel

@{
    ViewData["Title"] = "Incidents";
}

<h1>Incidents</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Incident Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Incident) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IncidentID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IncidentID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IncidentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
