@page
@model StudentIncidents1.Pages.StudentIncidents.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StudentIncident</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentIncident.StudentId" class="control-label"></label>
                <select asp-for="StudentIncident.StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentIncident.IncidentId" class="control-label"></label>
                <select asp-for="StudentIncident.IncidentId" class ="form-control" asp-items="ViewBag.IncidentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentIncident.IncidentDate" class="control-label"></label>
                <input asp-for="StudentIncident.IncidentDate" class="form-control" />
                <span asp-validation-for="StudentIncident.IncidentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
